<style>
    #footer{
        display: block;
        position: relative;
        /*padding-top:580px ;*/
        /*height:70px;*/
        bottom: 0;
        width:100%;
        background-color:cadetblue;
    }
    #footer p{
        text-align: center;
        line-height: 100px;
        /*margin: 30px auto;*/
    }
    /*#footer img{*/
    /*    width: 100%;*/
    /*}*/
</style>
<div id="footer">
    <p>Design By 一抹青蓝  此博客持续更新中... 2019/10</p>
<!--    <img src="../public/img/footer.jpg"  alt="">-->
</div>
