{{extend './layout.html'}}

{{ block 'head' }}
<style type="text/css">
    *{
        margin:0px;
        padding:0px;
    }
    body{
        /*background-color:skyblue;*/
    }
    .box{
        position:relative;
        margin:100px auto;
        width:400px;
        height:376px;
        /*background-color:#F0F0F0;*/
        animation:run 1s infinite;
    }
    .box .cicle1{
        position:absolute;
        width:250px;
        height:250px;
        border-radius:50%;

        background-color:rgb(213 9 60);
        box-shadow:-3px -3px 30px rgb(213 9 60);
    }
    .box .cicle2{
        position:absolute;
        left:150px;
        width:250px;
        height:250px;
        border-radius:50%;
        background-color:rgb(213 9 60);
        box-shadow:3px 3px 30px rgb(213 9 60);
    }
    .box .wrap{
        position:absolute;
        top:74px;
        left:75px;
        width:249px;
        height:249px;
        background-color:rgb(213 9 60);
        transform:rotate(45deg);
        box-shadow:0px 4px 30px rgb(213 9 60);
    }
    @keyframes run{
        to{
            transform:scale(1.2);
        }
    }
</style>
{{/block}}

{{ block 'content' }}
<div class="container">
    <div class="box">
        <div class="cicle1"></div>
        <div class="cicle2"></div>
        <div class="wrap"></div>
    </div>
</div>
{{/block}}

{{ block 'script' }}
<script>

</script>
{{/block}}
